<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../Styles/material.min.css">
    <link rel="stylesheet" href="../Styles/Style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
</head>
<body bgcolor="#ececec">
<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid login-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <div id="p1" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    <div class="mdl-grid login-panel">
                        <div class="mdl-cell mdl-cell--12-col">
                            <img src="../Assets/Images/logo.png" class="v-gap"/>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <h4 class="no-marg">Sign in with your account</h4>
                        </div>
                        <div class="mdl-cell mdl-cell--10-col">
                            <p>Please remember my password next time</p>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col text-right">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                                <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
                                <span class="mdl-switch__label"></span>
                            </label>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input required email" type="text" id="emailInput" autofocus
                                       onchange="showError(this,false);" onkeypress="showError(this,false);">
                                <label class="mdl-textfield__label" for="emailInput">Email</label>
                            </div>
                            <span class="error-msg">Please enter a valid email</span>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input required" type="password" id="passwordInput"
                                       onchange="showError(this,false);" onkeypress="showError(this,false);">
                                <label class="mdl-textfield__label" for="passwordInput">Password</label>
                            </div>
                            <span class="error-msg">Please enter a valid password</span>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a href="#" class="text-link">Forgot password?</a>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col text-right">
                            <button class="mdl-button mdl-js-button  mdl-button--raised mdl-js-ripple-effect  mdl-button--colored"
                                    id="signin">
                                LOGIN
                            </button>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <p>Doesn't have an account? <a href="#" class="text-link">Create one</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!--confirmation toast component-->

<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<script defer src="../Scripts/material.min.js"></script>
<script src="../Scripts/jquery-2.1.1.js"></script>
<script src="../Scripts/validation.js"></script>
<script src="../Scripts/basic-utility.js"></script>

<script>
    document.querySelector('#p1').addEventListener('mdl-componentupgraded', function () {
        this.MaterialProgress.setProgress(44);
    });

    $(document).ready(function () {

        $(".mdl-textfield__input").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#signin").click();
            }
        });


        $('#signin').click(function () {
            if (validateForm()) {
                $('.mdl-progress').show();
                $('.login-panel').css({'opacity': '0.5'});
                //make ajax call here
                $.ajax({
                    type: "POST",
                    url: '/SignIn',
                    data: {
                        Email: $('#emailInput').val(),
                        Password: $('#passwordInput').val()
                    },
                    success: function (response) {
                        if (response)
                            $('.mdl-progress').hide();
                        else
                            generateNotificationToast("Sorry, we couldnot able to find your account");
                    },
                    error: function (response) {

                    }
                });
            }
        })
    });


</script>
</body>
</html>