<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset Password</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="../Styles/Style.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>
<body bgcolor="#ececec">
<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid login-grid">
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-grid login-panel">
            <div class="mdl-cell mdl-cell--12-col">
              <h4>Reset your password</h4>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <h5>Hi Username</h5>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <p>Please choose a new password to continue with xyz</p>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input required" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">New password</label>
              </div>
              <span class="error-msg">Please choose a new password</span>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input required" type="password" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Confirm password</label>
              </div>
              <span class="error-msg">Please verify your new password</span>
            </div>

            <div class="mdl-cell mdl-cell--12-col text-right">
              <button class="mdl-button mdl-js-button  mdl-button--raised mdl-js-ripple-effect  mdl-button--colored" onclick="validateLoginForm()">
                reset
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="../Scripts/jquery-2.1.1.js"></script>
<script  src="../Scripts/validation.js"></script>

</body>
</html>